<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %-36X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO"> <!-- OFF, ERROR, WARN, INFO, DEBUG, TRACE, ALL. -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>